.contents-clear{
  background-color: orange;
  height: 580px;
  width: 1440px;
  text-align: center;
  .success{
    color: white;
    font-size: 50px;
    padding-top: 200px;
  }
  .home-send{
    .home-value{
      font-size: 50px;
    }
  }

}